.services__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.service {
  background: var(--color-bg-variant);
  border-radius: 0 0 2rem 2rem;
  border: 1px solid var(--color-primary);
  height: fit-content;
  background-color: darkslateblue;

  transition: var(--transition);
}
.service:hover {
  background: transparent;
  border: 1px solid var(--color-primary-variant);
  cursor: default;
}
.service__head {
  background-color: var(--color-primary);
  padding: 2rem;
  border-radius: 0 0 2rem 2rem;
  box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
}
.service__head h3 {
  color: var(--color-bg);
  font-size: 1rem;
  text-align: center;
}
.service__list {
  padding: 2rem;
}
.service__list li {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.8rem;
}
.service__list-icons {
  color: var(--color-primary);
  font-size: 2rem;
}
.cgc {
  font-size: 3rem;
}

/*================ media queries (medium devices) ==================*/

@media screen and (max-width: 1024px) {
  .services__container {
    grid-template-columns: 1fr 1fr;
  }
  .service {
    height: auto;
  }
}

/*================ media queries (small devices) ==================*/

@media screen and (max-width: 600px) {
  .services__container {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
  .service__list li {
    font-size: 0.8rem;
  }
  .service__list-icons {
    font-size: 1.5rem;
  }
  .cgc {
    font-size: 1.7rem;
  }
  .service__head {
    padding: 1.2rem;
  }
  .service__head h3 {
    font-size: 0.9rem;
  }
}
